In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r"C:\Users\ketki\OneDrive\Desktop\excel\data_set_2.xlsx")

In [4]:
df

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,john smith,29,john.smith@email.com,2020-01-15,"$45,000",sales
1,2,MARY JONES,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,NaN,mike.brown@email.com,2022-04-20,48K,it
3,4,anna WHITE,28,anna.white@email.com,2021-11-03,"$50,000",hr
4,5,John Smith,29,john.smith@email.com,2020-01-15,"$45,000",Sales
5,6,elena gomez,31,elena.gomez@email.com,2023-07-03,NaN,finance
6,7,mike Brown,NaN,mike.brown@email.com,2022-04-20,48000,IT
7,8,mary jones,34,mary.jones@email.com,2021-03-15,52000,Human Resource
8,9,NaN,25,unknown@email.com,2020-08-10,42000,Sales
9,10,lucas roy,27,lucas.roy@email.com,2023-01-05,46K,Finance
10,11,elena gomez,31,elena.gomez@email.com,2023-07-03,"$49,500",finance
11,12,david li,-,davidli@email.com,2022-12-10,49000,it
12,13,David Li,NaN,davidli@email.com,2022-12-10,49000,IT
13,14,maria smith,30,maria.smith@emailcom,2019-06-01,"$53,000",hr
14,15,NaN,26,NaN,2021-07-10,47000,Sales
15,16,LUKE TAYLOR,32,luke.taylor@email.com,2023-05-01,51000,Sales
16,17,lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,finance
17,18,anna white,28,anna.white@email.com,2021-11-03,$50K,HR
18,19,mark z.,35,markz@email.com,2020-10-10,54000,Product
19,20,MARY JONES,34,mary.jones@email.com,2021-03-15,52K,Human Resource

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          20 non-null     int64
 1   Name        18 non-null     object
 2   Age         17 non-null     object
 3   Email       19 non-null     object
 4   Join Date   20 non-null     datetime64[ns]
 5   Salary      19 non-null     object
 6   Department  20 non-null     object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 1.2+ KB

In [6]:
df.isnull().sum()

ID            0
Name          2
Age           3
Email         1
Join Date     0
Salary        1
Department    0
dtype: int64