In [2]:
import pandas as pd

In [3]:
dr = pd.read_excel(r"C:\Users\ketki\OneDrive\Desktop\excel\data_set_2.xlsx")

In [4]:
dr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          20 non-null     int64
 1   Name        18 non-null     object
 2   Age         17 non-null     object
 3   Email       19 non-null     object
 4   Join Date   20 non-null     datetime64[ns]
 5   Salary      19 non-null     object
 6   Department  20 non-null     object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 1.2+ KB

In [5]:
dr.isnull().sum()

ID            0
Name          2
Age           3
Email         1
Join Date     0
Salary        1
Department    0
dtype: int64

In [6]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,john smith,29,john.smith@email.com,2020-01-15,"$45,000",sales
1,2,MARY JONES,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,NaN,mike.brown@email.com,2022-04-20,48K,it
3,4,anna WHITE,28,anna.white@email.com,2021-11-03,"$50,000",hr
4,5,John Smith,29,john.smith@email.com,2020-01-15,"$45,000",Sales
5,6,elena gomez,31,elena.gomez@email.com,2023-07-03,NaN,finance
6,7,mike Brown,NaN,mike.brown@email.com,2022-04-20,48000,IT
7,8,mary jones,34,mary.jones@email.com,2021-03-15,52000,Human Resource
8,9,NaN,25,unknown@email.com,2020-08-10,42000,Sales
9,10,lucas roy,27,lucas.roy@email.com,2023-01-05,46K,Finance
10,11,elena gomez,31,elena.gomez@email.com,2023-07-03,"$49,500",finance
11,12,david li,-,davidli@email.com,2022-12-10,49000,it
12,13,David Li,NaN,davidli@email.com,2022-12-10,49000,IT
13,14,maria smith,30,maria.smith@emailcom,2019-06-01,"$53,000",hr
14,15,NaN,26,NaN,2021-07-10,47000,Sales
15,16,LUKE TAYLOR,32,luke.taylor@email.com,2023-05-01,51000,Sales
16,17,lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,finance
17,18,anna white,28,anna.white@email.com,2021-11-03,$50K,HR
18,19,mark z.,35,markz@email.com,2020-10-10,54000,Product
19,20,MARY JONES,34,mary.jones@email.com,2021-03-15,52K,Human Resource

In [7]:
dr["Age"] = pd.to_numeric(dr["Age"],errors="coerce")

In [8]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,john smith,29.0,john.smith@email.com,2020-01-15,"$45,000",sales
1,2,MARY JONES,34.0,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,NaN,mike.brown@email.com,2022-04-20,48K,it
3,4,anna WHITE,28.0,anna.white@email.com,2021-11-03,"$50,000",hr
4,5,John Smith,29.0,john.smith@email.com,2020-01-15,"$45,000",Sales
5,6,elena gomez,31.0,elena.gomez@email.com,2023-07-03,NaN,finance
6,7,mike Brown,NaN,mike.brown@email.com,2022-04-20,48000,IT
7,8,mary jones,34.0,mary.jones@email.com,2021-03-15,52000,Human Resource
8,9,NaN,25.0,unknown@email.com,2020-08-10,42000,Sales
9,10,lucas roy,27.0,lucas.roy@email.com,2023-01-05,46K,Finance
10,11,elena gomez,31.0,elena.gomez@email.com,2023-07-03,"$49,500",finance
11,12,david li,NaN,davidli@email.com,2022-12-10,49000,it
12,13,David Li,NaN,davidli@email.com,2022-12-10,49000,IT
13,14,maria smith,30.0,maria.smith@emailcom,2019-06-01,"$53,000",hr
14,15,NaN,26.0,NaN,2021-07-10,47000,Sales
15,16,LUKE TAYLOR,32.0,luke.taylor@email.com,2023-05-01,51000,Sales
16,17,lucas Roy,27.0,lucas.roy@email.com,2023-01-05,46000,finance
17,18,anna white,28.0,anna.white@email.com,2021-11-03,$50K,HR
18,19,mark z.,35.0,markz@email.com,2020-10-10,54000,Product
19,20,MARY JONES,34.0,mary.jones@email.com,2021-03-15,52K,Human Resource

In [9]:
dr["Age"] = dr["Age"].fillna(dr["Age"].mean())

In [10]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,john smith,29.0,john.smith@email.com,2020-01-15,"$45,000",sales
1,2,MARY JONES,34.0,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30.0,mike.brown@email.com,2022-04-20,48K,it
3,4,anna WHITE,28.0,anna.white@email.com,2021-11-03,"$50,000",hr
4,5,John Smith,29.0,john.smith@email.com,2020-01-15,"$45,000",Sales
5,6,elena gomez,31.0,elena.gomez@email.com,2023-07-03,NaN,finance
6,7,mike Brown,30.0,mike.brown@email.com,2022-04-20,48000,IT
7,8,mary jones,34.0,mary.jones@email.com,2021-03-15,52000,Human Resource
8,9,NaN,25.0,unknown@email.com,2020-08-10,42000,Sales
9,10,lucas roy,27.0,lucas.roy@email.com,2023-01-05,46K,Finance
10,11,elena gomez,31.0,elena.gomez@email.com,2023-07-03,"$49,500",finance
11,12,david li,30.0,davidli@email.com,2022-12-10,49000,it
12,13,David Li,30.0,davidli@email.com,2022-12-10,49000,IT
13,14,maria smith,30.0,maria.smith@emailcom,2019-06-01,"$53,000",hr
14,15,NaN,26.0,NaN,2021-07-10,47000,Sales
15,16,LUKE TAYLOR,32.0,luke.taylor@email.com,2023-05-01,51000,Sales
16,17,lucas Roy,27.0,lucas.roy@email.com,2023-01-05,46000,finance
17,18,anna white,28.0,anna.white@email.com,2021-11-03,$50K,HR
18,19,mark z.,35.0,markz@email.com,2020-10-10,54000,Product
19,20,MARY JONES,34.0,mary.jones@email.com,2021-03-15,52K,Human Resource

In [11]:
dr["Age"] = dr["Age"].astype("int")

In [12]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,john smith,29,john.smith@email.com,2020-01-15,"$45,000",sales
1,2,MARY JONES,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48K,it
3,4,anna WHITE,28,anna.white@email.com,2021-11-03,"$50,000",hr
4,5,John Smith,29,john.smith@email.com,2020-01-15,"$45,000",Sales
5,6,elena gomez,31,elena.gomez@email.com,2023-07-03,NaN,finance
6,7,mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,mary jones,34,mary.jones@email.com,2021-03-15,52000,Human Resource
8,9,NaN,25,unknown@email.com,2020-08-10,42000,Sales
9,10,lucas roy,27,lucas.roy@email.com,2023-01-05,46K,Finance
10,11,elena gomez,31,elena.gomez@email.com,2023-07-03,"$49,500",finance
11,12,david li,30,davidli@email.com,2022-12-10,49000,it
12,13,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,maria smith,30,maria.smith@emailcom,2019-06-01,"$53,000",hr
14,15,NaN,26,NaN,2021-07-10,47000,Sales
15,16,LUKE TAYLOR,32,luke.taylor@email.com,2023-05-01,51000,Sales
16,17,lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,finance
17,18,anna white,28,anna.white@email.com,2021-11-03,$50K,HR
18,19,mark z.,35,markz@email.com,2020-10-10,54000,Product
19,20,MARY JONES,34,mary.jones@email.com,2021-03-15,52K,Human Resource

In [13]:
dr["Email"] = dr["Email"].fillna("xyz@gmail.com")

In [14]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,john smith,29,john.smith@email.com,2020-01-15,"$45,000",sales
1,2,MARY JONES,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48K,it
3,4,anna WHITE,28,anna.white@email.com,2021-11-03,"$50,000",hr
4,5,John Smith,29,john.smith@email.com,2020-01-15,"$45,000",Sales
5,6,elena gomez,31,elena.gomez@email.com,2023-07-03,NaN,finance
6,7,mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,mary jones,34,mary.jones@email.com,2021-03-15,52000,Human Resource
8,9,NaN,25,unknown@email.com,2020-08-10,42000,Sales
9,10,lucas roy,27,lucas.roy@email.com,2023-01-05,46K,Finance
10,11,elena gomez,31,elena.gomez@email.com,2023-07-03,"$49,500",finance
11,12,david li,30,davidli@email.com,2022-12-10,49000,it
12,13,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,maria smith,30,maria.smith@emailcom,2019-06-01,"$53,000",hr
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,Sales
15,16,LUKE TAYLOR,32,luke.taylor@email.com,2023-05-01,51000,Sales
16,17,lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,finance
17,18,anna white,28,anna.white@email.com,2021-11-03,$50K,HR
18,19,mark z.,35,markz@email.com,2020-10-10,54000,Product
19,20,MARY JONES,34,mary.jones@email.com,2021-03-15,52K,Human Resource

In [15]:
dr["Name"] = dr["Name"].str.title()

In [16]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,"$45,000",sales
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48K,it
3,4,Anna White,28,anna.white@email.com,2021-11-03,"$50,000",hr
4,5,John Smith,29,john.smith@email.com,2020-01-15,"$45,000",Sales
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,NaN,finance
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000,Human Resource
8,9,NaN,25,unknown@email.com,2020-08-10,42000,Sales
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46K,Finance
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,"$49,500",finance
11,12,David Li,30,davidli@email.com,2022-12-10,49000,it
12,13,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,"$53,000",hr
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,Sales
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000,Sales
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,finance
17,18,Anna White,28,anna.white@email.com,2021-11-03,$50K,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000,Product
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52K,Human Resource

In [17]:
dr["Department"] = dr["Department"].str.upper()

In [18]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,"$45,000",SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48K,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,"$50,000",HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,"$45,000",SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,NaN,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46K,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,"$49,500",FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000,IT
12,13,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,"$53,000",HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,$50K,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000,PRODUCT
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52K,HUMAN RESOURCE

In [19]:
dr["Salary"] = dr["Salary"].astype("str").str.replace(r"[/$,K]","",regex=True)

In [20]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,50000,HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,nan,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,49500,FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000,IT
12,13,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,53000,HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,50,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000,PRODUCT
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52,HUMAN RESOURCE

In [21]:
dr["Salary"] = pd.to_numeric(dr["Salary"],errors="coerce")

In [22]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,45000.0,SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000.0,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48.0,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,50000.0,HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,45000.0,SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,NaN,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000.0,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000.0,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000.0,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46.0,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,49500.0,FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000.0,IT
12,13,David Li,30,davidli@email.com,2022-12-10,49000.0,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,53000.0,HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000.0,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000.0,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000.0,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,50.0,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000.0,PRODUCT
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52.0,HUMAN RESOURCE

In [23]:
dr["Salary"] = dr["Salary"].fillna(dr["Salary"].min())

In [24]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,45000.0,SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000.0,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48.0,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,50000.0,HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,45000.0,SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,46.0,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000.0,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000.0,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000.0,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46.0,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,49500.0,FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000.0,IT
12,13,David Li,30,davidli@email.com,2022-12-10,49000.0,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,53000.0,HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000.0,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000.0,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000.0,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,50.0,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000.0,PRODUCT
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52.0,HUMAN RESOURCE

In [25]:
dr["Salary"] = dr["Salary"].astype("int")

In [26]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,50000,HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,46,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,49500,FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000,IT
12,13,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,53000,HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,50,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000,PRODUCT
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52,HUMAN RESOURCE

In [27]:
dr.loc[2,"Salary"] = 48000

In [28]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,50000,HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,46,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,49500,FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000,IT
12,13,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,53000,HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,50,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000,PRODUCT
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52,HUMAN RESOURCE

In [29]:
dr.loc[5,"Salary"] = 46000

In [30]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,50000,HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,46000,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,49500,FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000,IT
12,13,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,53000,HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,50,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000,PRODUCT
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52,HUMAN RESOURCE

In [31]:
dr.drop(index=12,inplace=True)

In [32]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,50000,HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,46000,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,49500,FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,53000,HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,50,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000,PRODUCT
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52,HUMAN RESOURCE

In [33]:
dr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 0 to 19
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          19 non-null     int64
 1   Name        17 non-null     object
 2   Age         19 non-null     int32
 3   Email       19 non-null     object
 4   Join Date   19 non-null     datetime64[ns]
 5   Salary      19 non-null     int32
 6   Department  19 non-null     object
dtypes: datetime64[ns](1), int32(2), int64(1), object(3)
memory usage: 1.0+ KB

In [34]:
dr.isnull().sum()

ID            0
Name          2
Age           0
Email         0
Join Date     0
Salary        0
Department    0
dtype: int64

In [35]:
dr["Name"] = dr["Name"].dropna()

In [36]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,50000,HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,46000,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,49500,FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,53000,HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,50,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000,PRODUCT
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52,HUMAN RESOURCE

In [37]:
dr.loc[10,"Salary"] = 46000

In [38]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,50000,HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,46000,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,46000,FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,53000,HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,50,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000,PRODUCT
19,20,Mary Jones,34,mary.jones@email.com,2021-03-15,52,HUMAN RESOURCE

In [42]:
dr.loc[19] = [20,"kitu",21,"abc@gmail.com","2020-02-15",48000,"IT"]

In [43]:
dr

,ID,Name,Age,Email,Join Date,Salary,Department
0,1,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
1,2,Mary Jones,34,mary.jones@emailcom,2021-03-15,52000,HR
2,3,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
3,4,Anna White,28,anna.white@email.com,2021-11-03,50000,HR
4,5,John Smith,29,john.smith@email.com,2020-01-15,45000,SALES
5,6,Elena Gomez,31,elena.gomez@email.com,2023-07-03,46000,FINANCE
6,7,Mike Brown,30,mike.brown@email.com,2022-04-20,48000,IT
7,8,Mary Jones,34,mary.jones@email.com,2021-03-15,52000,HUMAN RESOURCE
8,9,NaN,25,unknown@email.com,2020-08-10,42000,SALES
9,10,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46,FINANCE
10,11,Elena Gomez,31,elena.gomez@email.com,2023-07-03,46000,FINANCE
11,12,David Li,30,davidli@email.com,2022-12-10,49000,IT
13,14,Maria Smith,30,maria.smith@emailcom,2019-06-01,53000,HR
14,15,NaN,26,xyz@gmail.com,2021-07-10,47000,SALES
15,16,Luke Taylor,32,luke.taylor@email.com,2023-05-01,51000,SALES
16,17,Lucas Roy,27,lucas.roy@email.com,2023-01-05,46000,FINANCE
17,18,Anna White,28,anna.white@email.com,2021-11-03,50,HR
18,19,Mark Z.,35,markz@email.com,2020-10-10,54000,PRODUCT
19,20,kitu,21,abc@gmail.com,2020-02-15,48000,IT