In [13]:
import numpy as np

import pandas as pd

In [15]:
data1 = {"name":["om","kitu","pihu","tom"],
         "roll no":[1,2,3,4],
         "city":["pune","ngp","mumbai","satara"]
}

In [16]:
print(data1)

{'name': ['om', 'kitu', 'pihu', 'tom'], 'roll no': [1, 2, 3, 4], 'city': ['pune', 'ngp', 'mumbai', 'satara']}

In [17]:
data1 = pd.DataFrame(data1)

In [18]:
print(data1)

   name  roll no    city
0    om        1    pune
1  kitu        2     ngp
2  pihu        3  mumbai
3   tom        4  satara

In [19]:
data2 ={"roll no":[1,2,3,4],
        "age":[21,22,23,24]

}

In [20]:
print(data2)

{'roll no': [1, 2, 3, 4], 'age': [21, 22, 23, 24]}

In [21]:
data2=pd.DataFrame(data2)

In [22]:
print(data2)

   roll no  age
0        1   21
1        2   22
2        3   23
3        4   24

In [23]:
data_all=pd.merge(data1,data2)

In [24]:
print(data_all)

   name  roll no    city  age
0    om        1    pune   21
1  kitu        2     ngp   22
2  pihu        3  mumbai   23
3   tom        4  satara   24