In [38]:
import pandas as pd

import numpy as np

In [39]:
df = pd.read_excel(r"C:\Users\ketki\OneDrive\Desktop\excel\pandas - 1.xlsx")

In [40]:
df

,Row ID+O6G3A1:R6,Order ID,Order Date,Month,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,4918,CA-2019-160304,2019-01-01,January,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.940,1,28.2668,NaN,Online,NaN,NaN
1,4919,CA-2019-160304,2019-01-02,January,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.940,3,38.2668,NaN,Online,NaN,NaN
2,4920,CA-2019-160304,2019-01-02,January,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,...,Technology,Phones,GE 30522EE2,231.980,2,67.2742,NaN,Cards,NaN,NaN
3,3074,CA-2019-125206,2019-01-03,January,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,...,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.460,2,28.6150,NaN,Online,NaN,NaN
4,8604,US-2019-116365,2019-01-03,January,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,...,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.080,2,-5.2640,NaN,Online,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5896,907,CA-2020-143259,2020-12-30,December,2021-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",213.136,4,12.1176,NaN,COD,NaN,NaN
5897,1297,CA-2020-115427,2020-12-30,December,2021-01-03,Standard Class,EB-13975,Erica Bern,Corporate,United States,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",295.904,2,4.5188,1.0,Online,NaN,NaN
5898,5092,CA-2020-156720,2020-12-30,December,2021-01-03,Standard Class,JM-15580,Jill Matthias,Consumer,United States,...,Office Supplies,Fasteners,Bagged Rubber Bands,388.024,3,-0.6048,NaN,Online,NaN,NaN
5899,909,CA-2020-143259,2020-12-30,December,2021-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,...,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,462.776,3,19.7910,NaN,COD,NaN,NaN
5900,5093,CA-2020-151450,2020-12-31,December,2021-01-04,Standard Class,JM-15580,Jill Matthias,Consumer,United States,...,Office Supplies,Fasteners,Bagged Rubber Bands,2975.510,3,-0.6048,NaN,COD,NaN,NaN

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5901 entries, 0 to 5900
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID+O6G3A1:R6  5901 non-null   int64
 1   Order ID          5901 non-null   object
 2   Order Date        5901 non-null   datetime64[ns]
 3   Month             5901 non-null   object
 4   Ship Date         5901 non-null   datetime64[ns]
 5   Ship Mode         5901 non-null   object
 6   Customer ID       5901 non-null   object
 7   Customer Name     5901 non-null   object
 8   Segment           5901 non-null   object
 9   Country           5901 non-null   object
 10  City              5901 non-null   object
 11  State             5901 non-null   object
 12  Region            5901 non-null   object
 13  Product ID        5901 non-null   object
 14  Category          5901 non-null   object
 15  Sub-Category      5901 non-null   object
 16  Product Name      5901 non-null   object
 17  Sales             5901 non-null   float64
 18  Quantity          5901 non-null   int64
 19  Profit            5901 non-null   float64
 20  Returns           287 non-null    float64
 21  Payment Mode      5901 non-null   object
 22  ind1              0 non-null      float64
 23  ind2              0 non-null      float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 1.1+ MB

In [42]:
df.isnull().sum()

Row ID+O6G3A1:R6       0
Order ID               0
Order Date             0
Month                  0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Region                 0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Sales                  0
Quantity               0
Profit                 0
Returns             5614
Payment Mode           0
ind1                5901
ind2                5901
dtype: int64

In [43]:
df.drop(["ind1","ind2"],axis=1,inplace=True)

In [44]:
df

,Row ID+O6G3A1:R6,Order ID,Order Date,Month,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode
0,4918,CA-2019-160304,2019-01-01,January,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,...,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.940,1,28.2668,NaN,Online
1,4919,CA-2019-160304,2019-01-02,January,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,...,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.940,3,38.2668,NaN,Online
2,4920,CA-2019-160304,2019-01-02,January,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,...,East,TEC-PH-10000455,Technology,Phones,GE 30522EE2,231.980,2,67.2742,NaN,Cards
3,3074,CA-2019-125206,2019-01-03,January,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,...,West,OFF-ST-10003692,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.460,2,28.6150,NaN,Online
4,8604,US-2019-116365,2019-01-03,January,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,...,Central,TEC-AC-10002217,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.080,2,-5.2640,NaN,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5896,907,CA-2020-143259,2020-12-30,December,2021-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,...,East,FUR-BO-10003441,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",213.136,4,12.1176,NaN,COD
5897,1297,CA-2020-115427,2020-12-30,December,2021-01-03,Standard Class,EB-13975,Erica Bern,Corporate,United States,...,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",295.904,2,4.5188,1.0,Online
5898,5092,CA-2020-156720,2020-12-30,December,2021-01-03,Standard Class,JM-15580,Jill Matthias,Consumer,United States,...,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,388.024,3,-0.6048,NaN,Online
5899,909,CA-2020-143259,2020-12-30,December,2021-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,...,East,OFF-BI-10003684,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,462.776,3,19.7910,NaN,COD
5900,5093,CA-2020-151450,2020-12-31,December,2021-01-04,Standard Class,JM-15580,Jill Matthias,Consumer,United States,...,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,2975.510,3,-0.6048,NaN,COD

In [45]:
df.isnull().sum()

Row ID+O6G3A1:R6       0
Order ID               0
Order Date             0
Month                  0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Region                 0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Sales                  0
Quantity               0
Profit                 0
Returns             5614
Payment Mode           0
dtype: int64

FILTER DATA

In [46]:
data = pd.read_excel(r"C:\Users\ketki\OneDrive\Desktop\excel\data_3.xlsx")

In [47]:
data

    ID     Name Department  Age  Salary       City  Experience_Years
0    1    Alice         HR   25   45000   New York                 2
1    2      Bob         IT   30   60000  San Diego                 5
2    3  Charlie    Finance   28   55000    Chicago                 3
3    4    David         IT   35   75000   New York                 7
4    5     Emma         HR   29   48000     Boston                 3
5    6    Frank  Marketing   33   52000     Denver                 4
6    7    Grace    Finance   27   53000      Miami                 2
7    8    Henry         IT   31   68000    Seattle                 6
8    9    Irene  Marketing   26   47000    Chicago                 1
9   10     Jack    Finance   40   82000     Boston                10
10  11    Kelly         HR   24   42000   New York                 1
11  12     Liam         IT   37   79000    Seattle                 8
12  13      Mia    Finance   29   56000      Miami                 3
13  14     Noah         HR   32   51000     Denver                 6
14  15   Olivia  Marketing   36   67000    Chicago                 9
15  16    Peter         IT   41   90000     Boston                12
16  17  Queenie         HR   27   46000  San Diego                 2
17  18   Robert    Finance   34   73000   New York                 7
18  19    Sarah         IT   30   64000      Miami                 5
19  20      Tom  Marketing   28   50000     Denver                 3

In [48]:
d_1 = data[data["Department"]=="IT"]

In [49]:
d_1

    ID   Name Department  Age  Salary       City  Experience_Years
1    2    Bob         IT   30   60000  San Diego                 5
3    4  David         IT   35   75000   New York                 7
7    8  Henry         IT   31   68000    Seattle                 6
11  12   Liam         IT   37   79000    Seattle                 8
15  16  Peter         IT   41   90000     Boston                12
18  19  Sarah         IT   30   64000      Miami                 5

In [50]:
d_2 = data[data["Department"]=="Finance"]

In [51]:
d_2

    ID     Name Department  Age  Salary      City  Experience_Years
2    3  Charlie    Finance   28   55000   Chicago                 3
6    7    Grace    Finance   27   53000     Miami                 2
9   10     Jack    Finance   40   82000    Boston                10
12  13      Mia    Finance   29   56000     Miami                 3
17  18   Robert    Finance   34   73000  New York                 7

In [52]:
d_3 = data[data["Age"]<25]

In [53]:
d_3

    ID   Name Department  Age  Salary      City  Experience_Years
10  11  Kelly         HR   24   42000  New York                 1

In [54]:
d_4 = data[(data["Salary"]>50000) & (data["Salary"]<60000)]

In [55]:
d_4

    ID     Name Department  Age  Salary     City  Experience_Years
2    3  Charlie    Finance   28   55000  Chicago                 3
5    6    Frank  Marketing   33   52000   Denver                 4
6    7    Grace    Finance   27   53000    Miami                 2
12  13      Mia    Finance   29   56000    Miami                 3
13  14     Noah         HR   32   51000   Denver                 6

In [57]:
d_5 = data.groupby("Department")["Salary"].mean()

In [ ]:
d_5 =

Department
Finance      63800.000000
HR           46400.000000
IT           72666.666667
Marketing    54000.000000
Name: Salary, dtype: float64