# String : - String is stored in double quotes " "
# List : - List is stored in square bracket [   ]    are mutable(changable)
# Tuple : - Tuple is store in round bracket (   )     are immutable (unchangable)
# List (): - used to convert data into list

In [ ]:
D1 = "om","hari","adi","shiv"
print(D1)

('om', 'hari', 'adi', 'shiv')

In [2]:
A = list(D1)
print(A)

['om', 'hari', 'adi', 'shiv']

In [3]:
D1 = tuple(A)
print(D1)

('om', 'hari', 'adi', 'shiv')

In [5]:
A[1]="data1"
print(A)

['om', 'data1', 'adi', 'shiv']

In [6]:
D1 = tuple(A)
print(D1)

('om', 'data1', 'adi', 'shiv')

In [7]:
names = ('om','data1','sai','adi','data2',"tt","dd","yy","ww","tt",1,5,6,7,8)

In [8]:
len(names)

15

In [9]:
print("yy"in names)

True

In [16]:
H = list(names)
H.remove("yy")

In [17]:
print(H)

['om', 'data1', 'sai', 'adi', 'data2', 'tt', 'dd', 'ww', 'tt', 1, 5, 6, 7, 8]

In [20]:
names = tuple(H)
print(names)

('om', 'data1', 'sai', 'adi', 'data2', 'tt', 'dd', 'ww', 'tt', 1, 5, 6, 7, 8)

In [22]:
print("yy" in names)

False

In [23]:
print("tt" in names)

True

In [24]:
Y = list(names)
Y.remove("tt")
print(Y)

['om', 'data1', 'sai', 'adi', 'data2', 'dd', 'ww', 'tt', 1, 5, 6, 7, 8]

In [25]:
names = tuple(Y)
print(names)

('om', 'data1', 'sai', 'adi', 'data2', 'dd', 'ww', 'tt', 1, 5, 6, 7, 8)

In [26]:
print("tt"in names)

True

In [27]:
Z = list(names)
Z.remove("tt")
print(Z)

['om', 'data1', 'sai', 'adi', 'data2', 'dd', 'ww', 1, 5, 6, 7, 8]

In [28]:
names = tuple(Z)
print(names)

('om', 'data1', 'sai', 'adi', 'data2', 'dd', 'ww', 1, 5, 6, 7, 8)

In [29]:
print("tt"in names)

False